header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

header > a {
  text-decoration: none;
}

header > a > p {
  left: 12px;
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
}

header > nav {
  margin: auto 0;
}

.headline {
  background-image: url(img/header-illsutration-mobile.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.headline-text > h1 {
  width: 70vw;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 58px 0;
}

.headline-text > h1 > span {
  color: #36b37e;
}

.desc {
  width: 70vw;
  min-height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 12px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  list-style: none;
  padding: 0;
}

.social-icons > li {
  margin: 10px;
}

.down-btn {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.Works {
  display: -ms-grid;
  display: grid;
  column-count: 1;
  row-gap: 24px;
  padding-bottom: 30px;
}

.portfolio-card {
  padding-top: 252px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-left: 22px;
  margin-right: 22px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.About > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.About > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px;
}

.card-body > ul,
.About > ul > li > ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
}

.card-body > ul > li {
  color: #3a4a42;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.card-body > ul > li,
.About > ul > li > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 4px;
  margin-bottom: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.card-body > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: 0;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-heading > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin: 8px;
}

.about-headline {
  background-image: url(img/illustration-aboutme-mobile.svg);
  padding-top: 30px;
}

.About > ul > li > img {
  width: 44px;
  height: 44px;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  border-radius: 50%;
  padding: 18px;
  margin-top: 40px;
}

.About > ul > li > ul > li {
  color: #36b37e;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
}

.About > ul > li > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-top: 64px;
}

.indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form > ul {
  list-style: none;
}