header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

header > a {
  text-decoration: none;
}

header > a > p {
  left: 12px;
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
}

header > nav {
  margin: auto 0;
}

.headline {
  background-image: url(img/header-illsutration-mobile.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-text > h1 {
  width: 70vw;
  left: 24px;
  top: 64px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 58px 0;
}

.headline-text > h1 > span {
  color: #36b37e;
}

.desc {
  margin-top: 0;
  margin-bottom: 0;
  width: 70vw;
  height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  list-style: none;
}

.social-icons > li {
  margin: 10px;
}

.down-btn {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}


.Works {
  display: grid;
  column-count: 1;
}

.portfolio-card {
  padding-top: 252px;
  background: #EBF0EE;
  border: 1px solid #D0D9D4;
  border-radius: 8px;
  margin-left: 22px;
  margin-right: 22px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.card-body >  ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
}

.card-body > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #EBF0EE;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3A4A42;
}

.card-body > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3A4A42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #36B37F;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

button:hover {
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}
