header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

a,
a * {
  text-decoration: inherit;
}

header > a {
  text-decoration: none;
}

header > a > p {
  left: 12px;
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
}

header > nav {
  margin: auto 0;
}

header > nav > ul {
  display: none;
}

.headline {
  background-image: url(img/header-illsutration-mobile.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.toggle-mobile-menu > li a {
  text-decoration: inherit;
  color: inherit;
}

.toggle-mobile-menu > li:nth-child(1) a {
  float: right;
}

.headline-text > h1 {
  width: 70vw;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 58px 0;
}

.headline-text > h1 > span {
  color: #36b37e;
}

.desc {
  width: 70vw;
  min-height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin: 12px;
  transition: font-size 1s;
}

.desc:hover {
  font-size: 22px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  align-items: center;
}

footer > .social-icons {
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}

.headline > .social-icons {
  margin-top: 58px;
}

.About > ul > li > img {
  width: 44px;
  height: 44px;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  border-radius: 50%;
  padding: 18px;
  margin-top: 40px;
  transition: transform 1s;
}

.social-icons > li {
  margin: 10px;
}

.social-icons > li > a > img {
  transition: transform 1s;
}

.social-icons > li > a > img:hover {
  transform: rotate(180deg);
}

.down-btn {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.Works {
  margin-bottom: 30px;
  margin-left: 22px;
  margin-right: 22px;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Works > .section-heading {
  margin-bottom: 62px;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  column-count: 1;
  row-gap: 24px;
}

.portfolio-card {
  padding-top: 252px;
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}

.About > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contact-form > ul {
  list-style: none;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form > ul > li {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;
}

.card-body > ul,
.popUpScreen > ul,
.About > ul > li > ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
  flex-wrap: wrap;
  align-content: flex-start;
}

.About > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px;
}

.actions {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-end: span 1;
  font-size: 15px;
  line-height: 20px;
  display: grid;
  column-gap: 4px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.card-body > ul > li {
  color: #3a4a42;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.popUpScreen > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
  padding: 8px 12px;
  background: #ebf0ee;
  border-radius: 4px;
}

.card-body > ul > li,
.About > ul > li > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 4px;
  margin-bottom: 30px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.About > ul > li > ul > li {
  color: #36b37e;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
}

.card-body > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0;
}

.popUpScreen > .content p {
  overflow-y: scroll;
  color: #344563;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: 0;
}

button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

.section-heading > h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin: 8px;
}

.about-headline {
  background-image: url(img/illustration-aboutme-mobile.svg);
  padding-top: 30px;
  background-size: cover;
}

.About > ul > li > img:hover {
  transform: rotate(90deg);
}

.About > ul > li > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-top: 64px;
}

.indicator {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
  margin-top: 30px;
}

.contact-form {
  width: 100%;
  display: flex;
  margin-top: 24px;
}

.contact-form > ul > li > input,
.contact-form > ul > li > textarea {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
}

.contact-form > ul > li > textarea {
  height: 114px;
}

.form-desc {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.my-email {
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.backdrop {
  background: #c1c7d0e5;
  position: fixed;
  width: 100vw;
  height: 1000vh;
  top: 0;
  left: 0;
  filter: blur(5px);
  backdrop-filter: blur(5px);
}

.popUpScreen {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  width: calc(100vw - 32px);
  background: #ffffffe5;
  z-index: 10000;
  position: fixed;
  top: 20px;
  left: 16px;
  border-radius: 16px;
  padding: 16px 16px 20px 16px;
  align-content: stretch;
  grid-template-rows: auto auto auto auto 48px;
}

.content {
  flex: 1 0 auto;
}

.close-popup-btn {
  position: fixed;
  top: 58px;
  right: 54px;
}

.actions a button {
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 991px) {
  .toggle-mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    list-style: none;
    line-height: 72px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    padding: 0 28px;
    box-sizing: border-box;
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  body {
    margin: 0;
    padding: 0;
  }

  header {
    justify-content: center;
  }

  header > a {
    display: none;
  }

  header > nav > a {
    display: none;
  }

  header > nav > ul {
    display: flex;
    list-style: none;
  }

  header > nav > ul > li {
    margin: 2px;
  }

  header > nav > ul > li > a {
    text-decoration: none;
    padding: 12px 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    transition: font-size 1s;
  }

  header > nav > ul > li > a:hover {
    font-size: 18px;
  }

  footer > .social-icons {
    padding: 13px;
    margin-bottom: 0;
    border-top: 1px solid #dfe1e6;
  }

  .headline > .social-icons {
    margin-top: 36px;
  }

  .desc {
    min-height: 96px;
    margin: 24px;
  }

  .headline {
    background: none;
  }

  .top-section {
    min-height: 100vh;
    background: url(img/Header-llustration-desktop.svg);
    background-size: cover;
  }

  .Works {
    margin-top: 100px;
    margin-bottom: 96px;
  }

  .indicator {
    display: none;
  }

  .Works > .section-heading {
    margin-bottom: 52px;
  }

  .portfolio {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
  }

  .close-popup-btn {
    box-sizing: border-box;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 14px;
    display: inline-block;
    background: #ebecf0;
    float: right;
    top: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    grid-column-start: 3;
  }

  .popUpScreen img {
    grid-column-end: span 3;
    max-height: 300px;
    object-fit: cover;
  }

  .popUpScreen > ul {
    grid-column-start: 1;
    grid-row-start: 5;
  }

  .popUpScreen > h1 {
    grid-row-end: span 2;
  }

  .popUpScreen > p {
    grid-row-start: 6;
    grid-column-end: span 3;
  }

  .popUpScreen {
    padding: 24px;
    height: calc(100vh - 244px);
    width: calc(100vw - 520px);
    top: 122px;
    left: 260px;
    display: grid;
    grid-template-columns: 60% auto 40px;
    grid-template-rows: auto auto 28px auto auto;
  }

  .about-headline {
    padding-top: 96px;
    background-image: url(img/illustration\ about\ me\ desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .About {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .About > ul {
    margin-top: 52px;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
  }

  .About > ul > li {
    width: calc(33.33% - 24px);
    box-sizing: border-box;
  }

  body > section,
  .form {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .form {
    display: flex;
    flex-direction: row;
    background-image:
      url(img/illustration-1-contact-form-desktop.svg),
      url(img/illustration-2-contact-form-desktop.svg),
      url(img/contact\ form-illustratoin-3-desktop.svg);
    background-position-x: left, center, right;
    background-position-y: bottom, bottom, bottom;
    background-repeat: no-repeat;
    padding-bottom: 100px;
  }

  .my-email {
    display: none;
  }

  .form-desc {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    margin-right: 24px;
  }

  .form > form {
    flex: 6;
  }

  .form > form > ul > li {
    justify-content: flex-start;
  }

  header > nav > ul > li:nth-child(1) {
    display: none;
  }
}
