header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

header > a {
  text-decoration: none;
}

header > a > p {
  left: 12px;
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
}

header > nav {
  margin: auto 0;
}

.headline {
  background-image: url(img/header-illsutration-mobile.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline-text > h1 {
  width: 70vw;
  left: 24px;
  top: 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 58px 0;
}

.headline-text > h1 > span {
  color: #36b37e;
}

.desc {
  margin-top: 0;
  margin-bottom: 0;
  width: 70vw;
  height: 164px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 58px;
  list-style: none;
}

.social-icons > li {
  margin: 10px;
}

.down-btn {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
