nav {
  display: flex;
  justify-content: space-between;
}

nav>p{
  width: 90px;
  height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #28352f;
}